@font-face{
	font-family: 'PtSerif';
	src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PTF55F-webfont.woff') format('woff'),
		 url('../fonts/PTF55F-webfont.ttf')  format('truetype'),
		 url('../fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
}

body {
	color: #f8f8f8;
	background-color: #252525;
	font-family: PtSerif;
	font-size: 18px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inline_form {
	display: inline-block;
}

input[type="text"] {
	margin: 2px;
	text-indent: 2px;
}

@-moz-document url-prefix() {
	input[type="text"] {
		text-indent: 2px;
	}
}

select {
	margin: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

@-moz-document url-prefix() {
	select {
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

input[type="submit"] {
	min-height: 22px;
	min-width: 130px;
	margin: 2px;
	border: 2px solid #ddd;
	background-color: #f8f8f8;
	cursor: pointer;
}

#FilterName {
	min-width: 200px;
}

@-moz-document url-prefix() {
	#FilterName {
		min-width: 198px;
	}
}

#FilterType {
	min-width: 150px;
}

#FilterSubmit {
	min-width: 70px;
}

#FilterHome {
	margin-left: 20px;
}

.entry {
	position: relative;
	max-width: 766px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #f8f8f8;
}

.entry div {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.entry-name {
	min-width: 500px;
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.entry-type {
	min-width: 150px;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.entry-image-small {
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.entry-image-large {
	width: 64px;
	height: 64px;
	background-size: 64px;
}
